#chat-box {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    height: 300px; /* Esto limita la altura del área de chat para que tenga un desplazamiento vertical si hay muchos mensajes */
    overflow-y: auto; /* Esto habilita el desplazamiento vertical si el contenido excede la altura */
}

#send-button {
    border-radius: 0 5px 5px 0; /* Esto agrega esquinas redondeadas solo en el lado derecho del botón */
}

#message-input {
    border-radius: 5px 0 0 5px; /* Esto agrega esquinas redondeadas solo en el lado izquierdo del campo de entrada */
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

/* Estilos personalizados pueden ir aquí */
.loading-indicator {
    display: none; /* Inicialmente oculto */
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.heart-icon {
    color: #ff0000; /* Color rojo para el corazón */
}